{% extends "layout.twig" %}

{% block content %}
    <h1>Bienvenue</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores culpa dolore eveniet inventore mollitia nostrum repudiandae sint vel? Blanditiis culpa dignissimos hic in neque porro possimus quo tempore voluptate?</p>
{% endblock %}